.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p {
  font-family: 'Baloo Bhaina 2';
  
}


/*--NAVBAR*/

.navbar-sticky {
  position: fixed;
  top: 20px;
  display: flex;
  justify-content: space-between;
  left: -8px;
}

.navbarLink {
  text-decoration: none;
  margin-inline: 10px;
  font-size: 20px;
  color: cornflowerblue;
}

.navbarButton {
  border: none;
  background: none;
  color: cornflowerblue;
  font-size: 20px;
}

.navImg {
  width: 34%;
}

.navLinks {
  align-self: center;
  width: 40%;
}

/* LOGIN */

.loginInputs {
  padding: 10px;
}

.loginInputsButton {
  margin-top: 40px;
}

.loginImg {
  padding-bottom: 40px;
}

.loginHr {
  height: 4px;
  border-radius: 100%;
  color: #a0b9d1;
}

/* CHATROOM */

.chatUsers {
  display: flex;
  margin-top: 60px;
}

.alertBox {
  width: 200px;
  margin-top: 10px;
  position: fixed;
  text-align: center;
}

.msgsBox {
  height: 360px;
  overflow: scroll;
  border: solid 1px black;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  background-color: antiquewhite;
  color: black;
}

.chatPage {
  width: 300px;
}

.nombresChat {
  color: #ff9a14;
}

.usersChatroom {
  margin-left: 70px;
  border-radius: 10px;
  border-color: #4f5253;
  color: #ff9a14;
}

.crearChatBtn {
  position: absolute;
  right: 112px;
  top: 570px;
}



/* BARES */

.baresList {
  display: flex;
  flex-direction: column;
}

.barList {
  list-style: none;
  font-size: 20px;
  text-align: initial;
  margin-right: 26px;
}

.barCity {
  font-size: 20px;
  position: absolute;
  top: 112px;
  border: solid;
  border-radius: 10px;
  padding: 12px;
  background-color: #224961;
  border-color: #4f5253;
  color: #929d9a;
  width: 300px;
  right: 34px;
}

.alertBoxBar {
  width: 200px;
  margin-top: 10px;
  position: fixed;
  text-align: center;
}

.barBtn {
  margin-bottom: 10px;
}

.salirBtn {
  position: absolute;
  bottom: 42px;
  left: 160px;
}

/* HOME */

.home {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.hrHome {
  height: 4px;
  border-radius: 100%;
  color: #a0b9d1;
}

.homeImg {
  padding-bottom: 100px;
}

.homeButtons {
  display: flex;
  flex-direction: column;
}

.buttonColor {
  background: #3c5475;
  width: -webkit-fill-available;
}